RTMChatSwift.xcworkspace/contents.xcworkspacedata
RTMChatSwift.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/joaocaixinha.xcuserdatad/xcschemes/Pods-RTMChatSwift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/joaocaixinha.xcuserdatad/xcschemes/Pods-RTMChatSwiftTests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/joaocaixinha.xcuserdatad/xcschemes/RealtimeMessaging-iOS-Swift-OrtcClientSwift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/joaocaixinha.xcuserdatad/xcschemes/RealtimeMessaging-iOS-Swift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/joaocaixinha.xcuserdatad/xcschemes/Starscream.xcscheme
Pods/Pods.xcodeproj/xcuserdata/joaocaixinha.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/RealtimeMessaging-iOS-Swift/LICENSE
Pods/RealtimeMessaging-iOS-Swift/Pod/Classes/Balancer.swift
Pods/RealtimeMessaging-iOS-Swift/Pod/Classes/RealtimeMessaging-iOS-Swift.swift
Pods/RealtimeMessaging-iOS-Swift/Pod/Classes/RealtimePushNotifications.swift
Pods/RealtimeMessaging-iOS-Swift/README.md
Pods/Starscream/LICENSE
Pods/Starscream/README.md
Pods/Starscream/Source/SSLSecurity.swift
Pods/Starscream/Source/WebSocket.swift
Pods/Target Support Files/Pods-RTMChatSwift/Info.plist
Pods/Target Support Files/Pods-RTMChatSwift/Pods-RTMChatSwift-umbrella.h
Pods/Target Support Files/Pods-RTMChatSwift/Pods-RTMChatSwift.modulemap
Pods/Target Support Files/Pods-RTMChatSwiftTests/Info.plist
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests-acknowledgements.markdown
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests-acknowledgements.plist
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests-dummy.m
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests-frameworks.sh
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests-resources.sh
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests-umbrella.h
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests.debug.xcconfig
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests.modulemap
Pods/Target Support Files/Pods-RTMChatSwiftTests/Pods-RTMChatSwiftTests.release.xcconfig
Pods/Target Support Files/RealtimeMessaging-iOS-Swift/Info.plist
Pods/Target Support Files/RealtimeMessaging-iOS-Swift/RealtimeMessaging-iOS-Swift-dummy.m
Pods/Target Support Files/RealtimeMessaging-iOS-Swift/RealtimeMessaging-iOS-Swift-prefix.pch
Pods/Target Support Files/RealtimeMessaging-iOS-Swift/RealtimeMessaging-iOS-Swift-umbrella.h
Pods/Target Support Files/RealtimeMessaging-iOS-Swift/RealtimeMessaging-iOS-Swift.modulemap
Pods/Target Support Files/RealtimeMessaging-iOS-Swift/RealtimeMessaging-iOS-Swift.xcconfig
Pods/Target Support Files/RealtimeMessaging-iOS-Swift/ResourceBundle-OrtcClientSwift-Info.plist
Pods/Target Support Files/Starscream/Info.plist
Pods/Target Support Files/Starscream/Starscream-dummy.m
Pods/Target Support Files/Starscream/Starscream-prefix.pch
Pods/Target Support Files/Starscream/Starscream-umbrella.h
Pods/Target Support Files/Starscream/Starscream.modulemap
Pods/Target Support Files/Starscream/Starscream.xcconfig
RTMChatSwift.xcodeproj/xcuserdata/joaocaixinha.xcuserdatad/xcschemes/RTMChatSwift.xcscheme
RTMChatSwift.xcodeproj/xcuserdata/joaocaixinha.xcuserdatad/xcschemes/xcschememanagement.plist
RTMChatSwift.xcworkspace/xcuserdata/joaocaixinha.xcuserdatad/UserInterfaceState.xcuserstate
build/Pods.build/Release-iphoneos/OrtcClientSwift-OrtcClientSwift.build/dgph
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/DerivedSources/OrtcClientSwift_vers.c
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/Balancer.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/Balancer.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/Balancer.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/Balancer.swiftdeps
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/Balancer~partial.swiftdoc
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/Balancer~partial.swiftmodule
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift-OutputFileMap.json
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift-Swift.h
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift-dummy.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift-dummy.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift-dummy.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift-master.swiftdeps
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift.LinkFileList
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift.swiftdeps
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift.swiftdoc
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift.swiftmodule
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift_dependency_info.dat
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift_vers.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift_vers.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift_vers.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift~partial.swiftdoc
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/OrtcClientSwift~partial.swiftmodule
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/RealtimePushNotifications.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/RealtimePushNotifications.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/RealtimePushNotifications.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/RealtimePushNotifications.swiftdeps
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/RealtimePushNotifications~partial.swiftdoc
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/arm64/RealtimePushNotifications~partial.swiftmodule
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/Balancer.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/Balancer.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/Balancer.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/Balancer.swiftdeps
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/Balancer~partial.swiftdoc
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/Balancer~partial.swiftmodule
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift-OutputFileMap.json
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift-Swift.h
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift-dummy.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift-dummy.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift-dummy.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift-master.swiftdeps
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift.LinkFileList
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift.swiftdeps
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift.swiftdoc
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift.swiftmodule
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift_dependency_info.dat
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift_vers.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift_vers.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift_vers.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift~partial.swiftdoc
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/OrtcClientSwift~partial.swiftmodule
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/RealtimePushNotifications.d
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/RealtimePushNotifications.dia
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/RealtimePushNotifications.o
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/RealtimePushNotifications.swiftdeps
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/RealtimePushNotifications~partial.swiftdoc
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/Objects-normal/armv7/RealtimePushNotifications~partial.swiftmodule
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/OrtcClientSwift-all-non-framework-target-headers.hmap
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/OrtcClientSwift-all-target-headers.hmap
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/OrtcClientSwift-generated-files.hmap
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/OrtcClientSwift-own-target-headers.hmap
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/OrtcClientSwift-project-headers.hmap
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/OrtcClientSwift.hmap
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/dgph
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/module.modulemap
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/swift-overrides.hmap
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/unextended-module-overlay.yaml
build/Pods.build/Release-iphoneos/OrtcClientSwift.build/unextended-module.modulemap
build/Pods.build/Release-iphoneos/Starscream.build/DerivedSources/Starscream_vers.c
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/SSLSecurity.d
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/SSLSecurity.dia
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/SSLSecurity.o
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/SSLSecurity.swiftdeps
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/SSLSecurity~partial.swiftdoc
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/SSLSecurity~partial.swiftmodule
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream-OutputFileMap.json
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream-Swift.h
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream-dummy.d
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream-dummy.dia
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream-dummy.o
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream-master.swiftdeps
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream.LinkFileList
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream.swiftdoc
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream.swiftmodule
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream_dependency_info.dat
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream_vers.d
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream_vers.dia
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/Starscream_vers.o
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/WebSocket.d
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/WebSocket.dia
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/WebSocket.o
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/WebSocket.swiftdeps
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/WebSocket~partial.swiftdoc
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/arm64/WebSocket~partial.swiftmodule
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/SSLSecurity.d
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/SSLSecurity.dia
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/SSLSecurity.o
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/SSLSecurity.swiftdeps
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/SSLSecurity~partial.swiftdoc
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/SSLSecurity~partial.swiftmodule
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream-OutputFileMap.json
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream-Swift.h
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream-dummy.d
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream-dummy.dia
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream-dummy.o
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream-master.swiftdeps
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream.LinkFileList
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream.swiftdoc
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream.swiftmodule
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream_dependency_info.dat
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream_vers.d
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream_vers.dia
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/Starscream_vers.o
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/WebSocket.d
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/WebSocket.dia
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/WebSocket.o
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/WebSocket.swiftdeps
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/WebSocket~partial.swiftdoc
build/Pods.build/Release-iphoneos/Starscream.build/Objects-normal/armv7/WebSocket~partial.swiftmodule
build/Pods.build/Release-iphoneos/Starscream.build/Starscream-all-non-framework-target-headers.hmap
build/Pods.build/Release-iphoneos/Starscream.build/Starscream-all-target-headers.hmap
build/Pods.build/Release-iphoneos/Starscream.build/Starscream-generated-files.hmap
build/Pods.build/Release-iphoneos/Starscream.build/Starscream-own-target-headers.hmap
build/Pods.build/Release-iphoneos/Starscream.build/Starscream-project-headers.hmap
build/Pods.build/Release-iphoneos/Starscream.build/Starscream.hmap
build/Pods.build/Release-iphoneos/Starscream.build/dgph
build/Pods.build/Release-iphoneos/Starscream.build/module.modulemap
build/Pods.build/Release-iphoneos/Starscream.build/swift-overrides.hmap
build/Pods.build/Release-iphoneos/Starscream.build/unextended-module-overlay.yaml
build/Pods.build/Release-iphoneos/Starscream.build/unextended-module.modulemap
build/Pods.build/all-product-headers.yaml
build/Release-iphoneos/OrtcClientSwift.bundle/Info.plist
build/Release-iphoneos/OrtcClientSwift.framework.dSYM/Contents/Info.plist
build/Release-iphoneos/OrtcClientSwift.framework.dSYM/Contents/Resources/DWARF/OrtcClientSwift
build/Release-iphoneos/OrtcClientSwift.framework/Headers/OrtcClientSwift-Swift.h
build/Release-iphoneos/OrtcClientSwift.framework/Headers/OrtcClientSwift-umbrella.h
build/Release-iphoneos/OrtcClientSwift.framework/Info.plist
build/Release-iphoneos/OrtcClientSwift.framework/Modules/OrtcClientSwift.swiftmodule/arm.swiftdoc
build/Release-iphoneos/OrtcClientSwift.framework/Modules/OrtcClientSwift.swiftmodule/arm.swiftmodule
build/Release-iphoneos/OrtcClientSwift.framework/Modules/OrtcClientSwift.swiftmodule/arm64.swiftdoc
build/Release-iphoneos/OrtcClientSwift.framework/Modules/OrtcClientSwift.swiftmodule/arm64.swiftmodule
build/Release-iphoneos/OrtcClientSwift.framework/Modules/module.modulemap
build/Release-iphoneos/OrtcClientSwift.framework/OrtcClientSwift
build/Release-iphoneos/OrtcClientSwift.framework/OrtcClientSwift.bundle/Info.plist
build/Release-iphoneos/Starscream.framework.dSYM/Contents/Info.plist
build/Release-iphoneos/Starscream.framework.dSYM/Contents/Resources/DWARF/Starscream
build/Release-iphoneos/Starscream.framework/Headers/Starscream-Swift.h
build/Release-iphoneos/Starscream.framework/Headers/Starscream-umbrella.h
build/Release-iphoneos/Starscream.framework/Info.plist
build/Release-iphoneos/Starscream.framework/Modules/Starscream.swiftmodule/arm.swiftdoc
build/Release-iphoneos/Starscream.framework/Modules/Starscream.swiftmodule/arm.swiftmodule
build/Release-iphoneos/Starscream.framework/Modules/Starscream.swiftmodule/arm64.swiftdoc
build/Release-iphoneos/Starscream.framework/Modules/Starscream.swiftmodule/arm64.swiftmodule
build/Release-iphoneos/Starscream.framework/Modules/module.modulemap
build/Release-iphoneos/Starscream.framework/Starscream
